<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--<xacro:include filename="$(find cob_description)/urdf/common.xacro" />-->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />

  <xacro:macro name="robotiq" params="parent name reflect sim *origin">

    <!-- mount the gripper to the arm -->
    <joint name="${name}_robotiq_hand_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_palm"/>
    </joint>

    <xacro:robotiq_hand prefix="${name}_" reflect="${reflect}" />

    <gazebo>
      <plugin name="RobotiqHandPluginSingleHand" filename="libRobotiqHandPluginSingleHand.so">
        <!-- params from drc_sim in gazebo4 -->
        <!-- http://gazebosim.org/tutorials?tut=drcsim_robotiq_hand&cat= -->
        <!-- <kp_position>10.0</kp_position> -->
        <!-- <kd_position>0.5</kd_position> -->
        <!-- params from ros-industrial/robotiq in gazebo2 -->
        <kp_position>1.0</kp_position>
        <ki_position>0.0</ki_position>
        <kd_position>0.5</kd_position>
      </plugin>
    </gazebo>
 
  </xacro:macro>
</robot>
