<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--<xacro:include filename="$(find cob_description)/urdf/common.xacro" />-->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />

  <xacro:macro name="robotiq" params="parent name reflect sim *origin">

  	<!-- If we use irg-raw3-6 branch of https://github.com/Shentheman/robotiq -->
    <!-- mount the gripper to the arm -->
    <!-- <joint name="${name}_robotiq_hand_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_palm"/>
    </joint>
    <xacro:robotiq_hand prefix="${name}_" reflect="${reflect}" /> -->
    

  	<!-- If we use irg-jade branch of https://github.com/Shentheman/robotiq -->
    <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />

    <xacro:robotiq_hand
      prefix="${name}_"
      parent="${parent}"
      reflect="-1">
      <xacro:insert_block name="origin"/>
    </xacro:robotiq_hand>

    <xacro:if value="$(arg sim)">
      <gazebo>
        <!-- The plugin is located at `./src/robotiq/robotiq_s_model_articulated_gazebo_plugins/include/robotiq_s_model_articulated_gazebo_plugins/RobotiqHandPluginSingleHand_controlMsg.h`. -->
        <!-- We use this plugin instead of `RobotiqHandPluginSingleHand.h` so that we will publish msg type = `robotiq_s_model_control/SModel_robot_input` and `robotiq_s_model_control/SModel_robot_output` to topics `/SModelRobotInput` and `/SModelRobotOutput` to control BOTH the real and simulated gripper.  -->
        <!-- If we use `RobotiqHandPluginSingleHand.h`, then we are publishing the msg type = `robotiq_s_model_articulated_msgs/SModelRobotInput` and `robotiq_s_model_articulated_msgs/SModelRobotOutput`. This is fine with simulation, but not real run. Not sure though. -->
        <plugin name="RobotiqHandPluginSingleHand_controlMsg" filename="libRobotiqHandPluginSingleHand_controlMsg.so">
          <!-- params from drc_sim in gazebo4 -->
          <!-- http://gazebosim.org/tutorials?tut=drcsim_robotiq_hand&cat= -->
          <!-- <kp_position>10.0</kp_position> -->
          <!-- <kd_position>0.5</kd_position> -->
          <!-- params from ros-industrial/robotiq in gazebo2 -->
          <kp_position>1.0</kp_position>
          <ki_position>0.0</ki_position>
          <kd_position>0.5</kd_position>
        </plugin>
      </gazebo>
    </xacro:if>
 
  </xacro:macro>
</robot>
