<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- https://github.com/PR2/pr2_common/blob/kinetic-devel/pr2_description/urdf/sensors/kinect2.urdf.xacro -->

  <xacro:macro name="r200" params="sim name parent *origin">

    <!-- The origin roll pitch yaw for the frame_joints in gazebo simulation is different from the one for the real camera! -->
    <xacro:if value="${sim}">
      <!-- this is for pointing the camera to the right direction in gazebo -->
      <!-- XXX: Visualizing camera view in gazebo will help you verify the exact position of that camera lens in relative to the physical camera "cube" -->
      <!-- frame_joint_xyz and frame_joint_rpy = lens_in_r200_mat -->
      <xacro:property name="frame_joint_xyz" value="0.0 0.047625 0.0111"/>
      <xacro:property name="frame_joint_rpy" value="0.0 ${-90/180*pi} ${180/180*pi}"/>
      <!-- this is for placing the point cloud on the right position with the correct transformation from the robot in rviz -->
      <!-- XXX: Visualizing camera view in rviz will help you verify the camera visual image transformation (inverted or not, tilted or not ...) -->
      <xacro:property name="optical_frame_joint_rpy" value="${-90/180*pi} 0.0 ${-90/180*pi}"/>
    </xacro:if>
    <xacro:unless value="${sim}">
      <xacro:property name="frame_joint_xyz" value="0.0 0.0 0.0"/>
      <xacro:property name="frame_joint_rpy" value="0.0 0.0 0.0"/>
      <xacro:property name="optical_frame_joint_rpy" value="0.0 0.0 0.0"/>
    </xacro:unless>


    <!-- camera physical attachment -->
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link" >
      <inertial>
        <mass value="0.564" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257" />
      </inertial>
      <visual>
       <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.01905 0.1335 0.0222"/>
          <!-- <mesh filename="package://cob_description/meshes/sensors/sr300_optical_link.dae"/> -->
        </geometry>
        <!-- <material name="sr300_gray"> -->
          <!-- <color rgba="0.75 0.75 0.75 1" /> -->
          <!-- <color rgba="0.1 0.1 0.1 1" /> -->
          <!--<color rgba="0.2 0.2 1 1" />-->
        <!-- </material> -->
      </visual>
      <collision>
       <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.01905 0.1335 0.0222"/>
          <!-- <mesh filename="package://raw_description/meshes/cameras/sr300_optical_link.STL"/> -->
        </geometry>
      </collision>
    </link>


    <!-- 1(1) rgb_frame -->
    <joint name="${name}_rgb_frame_joint" type="fixed">
      <origin xyz="${frame_joint_xyz}" rpy="${frame_joint_rpy}" />
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame"/>
    </joint>
    <link name="${name}_rgb_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>

    <!-- 1(2) rgb_optical_frame -->
    <joint name="${name}_rgb_optical_frame_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${optical_frame_joint_rpy}" />
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>
    <link name="${name}_rgb_optical_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>


    <!-- 2(1) depth_frame -->
    <joint name="${name}_depth_frame_joint" type="fixed">
      <origin xyz="${frame_joint_xyz}" rpy="${frame_joint_rpy}" />
      <parent link="${name}_link"/>
      <child link="${name}_depth_frame"/>
    </joint>
    <link name="${name}_depth_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>

    <!-- 2(2) depth_optical_frame -->
    <joint name="${name}_depth_optical_frame_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${optical_frame_joint_rpy}" />
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>
    <link name="${name}_depth_optical_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>

    <!-- 3(1) ir_frame -->
    <joint name="${name}_ir_frame_joint" type="fixed">
      <origin xyz="${frame_joint_xyz}" rpy="${frame_joint_rpy}" />
      <parent link="${name}_link"/>
      <child link="${name}_ir_frame"/>
    </joint>
    <link name="${name}_ir_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>

    <!-- 3(2) ir_optical_frame -->
    <joint name="${name}_ir_optical_frame_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${optical_frame_joint_rpy}" />
      <parent link="${name}_ir_frame"/>
      <child link="${name}_ir_optical_frame"/>
    </joint>
    <link name="${name}_ir_optical_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>


  </xacro:macro>
</robot>

