<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- https://github.com/PR2/pr2_common/blob/kinetic-devel/pr2_description/urdf/sensors/kinect2.urdf.xacro -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/realsense.gazebo.xacro" />

  <xacro:macro name="realsense" params="name parent ros_topic *origin">

    <!-- realsense rgb sensor physical attachment -->
    <joint name="${name}_realsense_rgb_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_realsense_rgb_link"/>
    </joint>

    <link name="${name}_realsense_rgb_link" >
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257" />
      </inertial>
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <!--<box size="0.002 0.002 0.002"/>-->
          <mesh filename="package://cob_description/meshes/sensors/sr300_optical_link.dae"/>
          <!-- <mesh filename="package://cob_description/meshes/sensors/sr300_optical_link.STL"/> -->
          <!-- <mesh filename="package://cob_description/urdf/sensors/intel_realsense_r200/meshes/realsense_r200.dae"/> -->
        </geometry>
        <material name="sr300_gray">
          <color rgba="0.75 0.75 0.75 1" />
          <!-- <color rgba="0.1 0.1 0.1 1" /> -->
          <!--<color rgba="0.2 0.2 1 1" />-->
        </material>
      </visual>
      <collision>
        <origin xyz="-0.025 0.0 -0.01" rpy="0 0 0"/>
        <geometry>
          <!-- <box size="0.007 0.130 0.0118"/> -->
          <box size="0.06 0.15 0.05"/>
          <!-- <mesh filename="package://raw_description/meshes/cameras/sr300_optical_link.STL"/> -->
        </geometry>
      </collision>
    </link>

    <!-- realsense rgb sensor frame -->
    <joint name="${name}_realsense_rgb_optical_frame_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${name}_realsense_rgb_link"/>
      <child link="${name}_realsense_rgb_optical_frame"/>
    </joint>

    <link name="${name}_realsense_rgb_optical_frame">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </link>

    <!-- gazebo extensions -->
    <xacro:realsense_rgb_gazebo_v0 link_name="${name}_realsense_rgb_link" frame_name="${name}_realsense_rgb_optical_frame" camera_name="${name}"/>
  </xacro:macro>

</robot>

