<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="sick_s300_laser_gazebo_v0" params="visualize_sick_s300_simulator name">
    <gazebo reference="${name}_link">
      <!-- this ray sensor setup is similar to the one in pr2 model in .gazebo/models/pr2/model.sdf -->
      <!-- https://bitbucket.org/osrf/gazebo_models/src/220aa60a2eaa5f31b52429d08c8e94bd05646e23/pr2/model.sdf?at=default&fileviewer=file-view-default -->
      <sensor name="${name}" type="ray">
        <always_on>true</always_on>
        <visualize>${visualize_sick_s300_simulator}</visualize>
        <update_rate>12.0</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <samples>541</samples>
              <resolution>1.0</resolution>
              <min_angle>-2.3562</min_angle>
              <max_angle>2.3562</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.05</min>
            <max>30.0</max>
            <resolution>0.03</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.02</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>${name}/scan_raw</topicName>
          <frameName>${name}_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
